*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.content--intro a{
        position: fixed;
    top: 40vw;
    font-size: 50px;
    border: solid;
    padding: 10px 20px;
}

.container_top{
    background-image: url("../img/top.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}


.container_main{
    background-image: url("../img/main.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.container_main_sp{
    display: none;
}
.container_bio{
    width: 100vw;
    height: 100vh;
}

.container_works{
    background: #FBC6FF;
    width: 100vw;
}

#name{
    width: 60vw;
    height: auto;
    margin: 10vw 20vw;
}

.cls-1,
.cls-2 {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.cls-1 {
    stroke-width: 16px;
}

.cls-2 {
    stroke-width: 13px;
}

.bio{
    width: 26vw;
    position: absolute;
    top: 20vh;
    left: 24vw;
    height: auto;
    transition: 0.5s;
}

.bio:hover{
    opacity: 0.7;
}

.works{
    position: absolute;
    width: 28.4vw;
    top: 27vh;
    left: 48vw;
    height: auto;
    transition: 0.5s;
}

.works:hover{
    opacity: 0.7;
}

.contact{
    position: absolute;
    width: 46.56vw;
    height: auto;
    top: 56vh;
    left: 22vw;
    transition: 0.5s;
}

.contact:hover{
    opacity: 0.7;
}

.menu-trigger,
.menu-trigger span {
 display: inline-block;
 transition: all .4s;
 box-sizing: border-box;
}
.menu-trigger {
 position: fixed;
 top: 5.82vh;
 right: 5.89vw;
 width: auto;
 z-index: 9999;
}

.menu-trigger span{
    transform: rotate(-180deg);
    text-decoration: none;
    color: #FA10C8;
    font-size: 50px;
}

.menu-trigger span:nth-of-type(2)
.menu-trigger span:nth-of-type(3){
    opacity: 0;
}

.menu-trigger span:hover{
    opacity: 0.5;
}

.menu-trigger.active span{
    opacity: 1;
    position: absolute;
    z-index: 9999;
    display: inline-block;
    background-color: #fff;
    width: 60px;
    height: 2px;
}
.menu-trigger.active span:nth-of-type(1) {
    opacity: 0;

}
.menu-trigger.active span:nth-of-type(2) {
-webkit-transform: rotate(-45deg);
transform:rotate(-45deg);
}
.menu-trigger.active span:nth-of-type(3) {
 -webkit-transform:rotate(45deg);
 transform:rotate(45deg);
}
#overlay{
 display: none;
 position: fixed;
 top: 0;
 z-index: 100;
 background-image: url("../img/menu_b.png");
 background-color: rgba(0,0,0,0.7);
 background-size: cover;
 width: 100vw;
 height: 100vh;
 padding: 20px;
 box-sizing: border-box;
}
#overlay ul{
 padding-left: 0px;
}
#overlay ul li{
 padding-left: 0px;
 list-style-type: none;
 margin-top: 50px;
}
#overlay ul li a{
 color: #fff;
 text-decoration: none;
 font-size: 150%;
}

.container_bio .logo img{
    width: 29.23vw;
    height: auto;
}

.logo_top{
    position: fixed;
    top: 0px;
    left: 5vw;
}

.logo_bottom{
    position: fixed;
    bottom: 0px;
    left: 5vw;
}

.logo_works img{
    width: 57.2vw;
    height: auto;
}


.sns .twitter{
    text-decoration: none;
    position: fixed;
    top: 10vh;
    right: -4vh;
    width: auto;
    height: auto;
    font-size: 0.9vw;
    color: #FA10C8;
    letter-spacing: 9px;
    z-index: 2;
}

.sns .twitter .box{
    display: inline-block;
    width: 4vw;
    height: 7vw;
    background: #FA10C8;
    transition: 1s;

}

.sns .twitter .box:hover{
    width: 8vw;
}

.sns .instagram{
    text-decoration: none;
    position: fixed;
    top: 30vh;
    right: -11vh;
    width: auto;
    height: auto;
    font-size: 0.9vw;
    color: #A60EA3;
    letter-spacing: 11px;
    z-index: 2;
}

.sns .instagram .box{
    display: inline-block;
    width: 4vw;
    height: 7vw;
    background: #A60EA3;
    transition: 1s;
}

.sns .instagram .box:hover{
    width: 15vw;
}

.works_content{
    padding-top: 20vh;
    margin-left: 5vw;
    padding-bottom: 10vw;
    overflow: hidden;
}

.films{
    display: inline-block;
    margin: 10vh 10vh 0 0;
    height: 40vh;
    float: left;
}

.films iframe{
    width: 25vw;
    height:25vh;
}

.films h1{
    font-size: 20px;
    font-family: sans-serif;
}

.films p{
    font-size: 15px;
}

.name img{
    width: 60vw;
    height: auto;
    padding-top: 20vh;
    padding-left: 20vw;
}


.about p{
    width: 43vw;
    display: inline-block;
    margin-top: 6vw;
    margin-left: 53vw;
    padding: 3vw 1vw 3vw 4vw;
    font-size: 1.1vw;
    color: #fff;
    line-height: 2.1em;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    font-weight: bold;
    background-image: url(../img/bio_p_bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.glitch{
    z-index: -1;
    background-color: #FBC6FF;
}

.main{
    position: fixed;
    top:0;
    left: 0;
}

.menu_sp{
    display: none;
}


@media (max-width: 500px) {
    .container_top{
        background-image: url("../img/top_sp.png");
        background-position: center;
        width: 100vw;
        height: 100vh;
    }
    #name{
        width: 100%;
        height: auto;
        margin: 30vh 0;
    }

    .container_main{
        position: relative;
        display:none;
    }

    .container_main_sp{
        background-size: cover;
        width: 100vw;
        display:block;
        background-image: url("../img/main_sp.png");
        background-size: 100%;
        background-position: center;
        height: 100vh;
    }

    .bio{
        position: absolute;
        width: 40vw;
        top: 33vh;
        left: 1vw;
    }

    .works{
        position: absolute;
        width: 55vw;
        top: 35vh;
        left: 43vw;
    }

    .contact{
        position: absolute;
        width: 80vw;
        top: 55vh;
        left: 0;
    }

    .main img{
        display: none;
    }

    .main p{
        color: #fff;
        margin-top: 50vh;
        margin-left: 0vw;
        padding: 20px;
        width: 100vw;
        border: none;
        line-height: 1.7em;
        font-size: 13px;
        background-image: url("../img/bio_p_bg.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .container_bio .logo img {
        width: 50vw;
        height: auto;
    }

    .container_bio .logo_bottom{
        left: 40vw;
    }

    .menu-trigger{
        top: 10vh;
        left: 10vw;
    }

    .menu-trigger span{
        transform: rotate(-180deg);
        text-decoration: none;
        color: #FA10C8;
        font-weight: bold;
        font-size: 30px;
    }

    .sns .twitter{
        font-size: 15px;
        right: -20vw;
    }
    .sns .twitter .box{
        width: 40px;
        height: 70px;
    }

    .sns .instagram{
        font-size: 15px;
        right: -37vw;
    }
    .sns .instagram .box{
        width: 40px;
        height: 70px;
    }

    .logo_works img{
        width: 80vw;
    }

    .films iframe{
        width: 75vw;
        height: 40vw;;
    }

    .works_content{
        padding-top: 20vh;
        padding-bottom: 10vw;
        margin-left: 5vw;
    }

    .works_content h1{
        font-size: 15px;
    }

    .works_content p{
        font-size: 10px;
    }

    #overlay{
        background-image: url("../img/menu_sp.png");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        padding: 0px;
    }

    #overlay .menu_main{
        display:none;
    }

    #overlay .menu_sp{
        position: relative;
        display:block;
        background-size: 100%;
        background-position: center;
        height: 100vh;
    }

    .content--intro a{
        position: fixed;
        top: 120vw;
        font-size: 20px;
        border: solid;
        padding: 10px 20px;
    }

}

@media only screen
    and (device-width : 375px)
    and (device-height : 812px){
        .bio{
            top: 35vh;
        }

        .works{
            top: 38vh;
        }
}